<?xml version="1.0"?>
<?xml-stylesheet type='text/xsl' href='interface.xsl'?>
<interface xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
	<feed-for interface="http://gfxmonk.net/dist/0install/mocktest.xml"/>
	<name>mocktest</name>
	<summary>mocking library for python, inspired by rspec</summary>
	<publish xmlns="http://gfxmonk.net/dist/0install" mode="featured"/>
	<description>
mocktest
********
... is a powerful and easy-to-use mocking library, inspired by rspec and
similar in some ways to Michael Foord's popular Mock module.

Source / Issues:
http://github.com/gfxmonk/mocktest/tree/master


Zero install feed:
http://gfxmonk.net/dist/0install/mocktest.xml
(this is the preferred distribution method)


Cheese shop entry:
http://pypi.python.org/pypi/mocktest


Documentation / Installation
----------------------------
Please see the full documentation online at:
http://gfxmonk.net/dist/doc/mocktest/doc/

	</description>
	<pypi-extra xmlns="http://gfxmonk.net/dist/0install">
		classifiers=[
			"Programming Language :: Python",
			"Intended Audience :: Developers",
			"Topic :: Software Development :: Libraries :: Python Modules",
			"Topic :: Software Development :: Testing",
			"Programming Language :: Python :: 2",
			"Programming Language :: Python :: 3",
		],
		package_data = {{"": ["LICENCE"]}},
		keywords='test mock expect expectation stub rspec unittest',
	</pypi-extra>
	<homepage>http://gfxmonk.net/dist/doc/mocktest/doc/</homepage>
	<rich-description xmlns="http://gfxmonk.net/dist/0install">
		<div xmlns="http://www.w3.org/1999/xhtml">
			<h1 id="mocktest">mocktest</h1>
			<p>... is a powerful and easy-to-use mocking library, inspired by rspec and similar in some ways to Michael Foord's popular Mock module.</p>
			<p>Source / Issues: <a href="http://github.com/gfxmonk/mocktest/tree/master">http://github.com/gfxmonk/mocktest/tree/master</a></p>
			<p>Zero install feed: <a href="http://gfxmonk.net/dist/0install/mocktest.xml">http://gfxmonk.net/dist/0install/mocktest.xml</a> (this is the preferred distribution method)</p>
			<p>Cheese shop entry: <a href="http://pypi.python.org/pypi/mocktest">http://pypi.python.org/pypi/mocktest</a></p>
			<h2 id="documentation-installation">Documentation / Installation</h2>
			<p>Please see the full documentation online at: <a href="http://gfxmonk.net/dist/doc/mocktest/doc">http://gfxmonk.net/dist/doc/mocktest/doc</a>/</p>
		</div>
	</rich-description>
	<group>
		<environment insert="" mode="prepend" name="PYTHONPATH"/>
		<command name="test">
			<runner command="core" interface="http://gfxmonk.net/dist/0install/nosetests-runner.xml"/>
			<requires importance="recommended" interface="http://gfxmonk.net/dist/0install/rednose.xml"/>
		</command>
		<requires interface="http://repo.roscidus.com/python/python"/>
		<implementation version="{version}">
			<manifest-digest/>
			<archive href="{archive}"/>
		</implementation>
	</group>
</interface>
